[gcode_macro PRINT_START]
gcode:
    # This parameters get passed from your slicer (Orca, SuperSlicer, etc.)
    # Example slicer call: PRINT_START EXTRUDER=[first_layer_temperature[0]] BED=[first_layer_bed_temperature[0]]
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    
    # 1. Heat the bed and preheat nozzle to safe probing/no-ooze temp (e.g., 150C)
    M140 S{target_bed}
    M104 S150
    
    # 2. Home all axes
    G28
    
    # 3. Wait for bed temperature
    M190 S{target_bed}
    
    # 4. Wait for nozzle to reach preheat/safe temperature
    M109 S150
    
    # 5. Bed leveling / Tilt adjustment (Switchwire uses Z tilt or bed mesh depending on build)
    # Z_TILT_ADJUST  ; Uncomment if you have dual independent Z or tilt adjustment
    BED_MESH_CALIBRATE ; Or load/generate mesh
    
    # 6. Final heating of the nozzle
    M104 S{target_extruder}
    M109 S{target_extruder}
    
    # 7. Purge line or nozzle wipe routine
    G92 E0             ; Reset extruder
    G1 Z5 F3000        ; Move up
    G1 X0 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X100 Y20 Z0.3 F1500.0 E15 ; Draw the purge line
    G92 E0             ; Reset extruder


[gcode_macro END_PRINT]
gcode:
    # Retract slightly to prevent oozing
    G91
    G1 E-2 F2700
    G1 E-1.5 Z0.2 F2400
    G1 X5 Y5 F3000
    G1 Z10 F3000
    G90

    # Park toolhead at rear
    G1 X10 Y200 F6000

    # Turn off heaters and fans
    TURN_OFF_HEATERS
    M107
    M84 X Y E ; Disable steppers (keep Z engaged if needed)
    BED_MESH_CLEAR